/*************************************************** RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;

}
* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*************************************************** DECLARATION POLICE */

@font-face {
  font-family: "Raleway-bold";
  src: url("fonts/raleway-bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway-extrabold";
  src: url("fonts/raleway-extrabold.woff") format("woff");
}

@font-face {
  font-family: "Raleway-normal";
  src: url("fonts/raleway-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway-light";
  src: url("fonts/raleway-light.woff") format("woff");
}

/*************************************************** GENERAL */

body {
  font-family: "Raleway-light";
  background-color: #f3f3f3;
}

/************************* Background Color Yellow */

input:focus ~ label,
.submit-search {
  background-color: #fcd924;
}

/************************* Title */

h1 {
  display: flex;
  width: 140px;
  height: 25px;
  margin-left: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 42px;
}

h4 {
  font-family: "Raleway-bold";
  font-size: 24px;
}

h5 {
  font-family: "Raleway-bold";
  text-align: center;
  margin: 13px 0px;
  font-size: 16px;
}

h6 {
  text-align: center;
  font-size: 14px;
}

.review-img-infos h6 {
  text-align: unset;
}

/************************* li */

li {
  font-size: 14px;
}

/*************************************************** HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 56px;
  box-shadow: 0px 4px 4px lightgrey;
  background-color: white;
}

h1 img {
  width: 140px;
}

/************************* Navigation */

.sell-link,
.eye {
  display: none;
}

.shopping-basket,
.eye {
  margin: 0px 20px;
}

/*************************************************** MAIN */

main {
  margin: 0px 20px;
}

/************************* SECTION WELCOME RESEARCH */

.welcome-research {
  margin-top: 50px;
}

strong {
  font-family: "Raleway-extrabold";
  font-size: 48px;
}

/************************* Bloquote */

blockquote {
  font-family: "Raleway-bold";
  font-size: 18px;
  text-align: center;
  margin-top: 65px;
}

/************************* Form */

.form {
  margin: 42px 0px;
  padding: 15px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px lightgrey;
  background-color: white;
}

.gare-date {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;
}

.swap-button-desktop {
  display: none;
}

.champ {
  position: relative;
}

.gare-date input {
  width: 100px;
  height: 34px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}

.gare-date input:focus,
.submit-form input {
  border: 1px solid #fcd924;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  font-size: 8px;
  top: -9px;
  padding: 5px;
  border-radius: 4px;
}

::placeholder {
  color: transparent;
}

.bottom-champ {
  margin-top: 10px;
}

.gare-date img {
  width: 25px;
  height: 25px;
  margin: 30px 4px 0px 4px;
}

.label {
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 10px;
  pointer-events: none;
}

.calendar {
  display: none;
}

/************************* Submit Form */

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-form input {
  width: 242px;
  height: 40px;
  border-radius: 4px;
}

.submit-search,
.submit-sell {
  font-family: "Raleway-extrabold";
  font-size: 14px;
}

.submit-sell {
  margin: 10px 0px 15px 0px;
  background-color: #fff;
}

.arrow-open {
  display: none;
}

/************************* SECTION GOOD PLANS / WEEKEND */

.good-plans,
.weekend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}

.gp-article-group article,
.wk-article-group article {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 280px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  padding: 10px 13px;
  box-shadow: 0px 4px 4px lightgray;
}

.good-plans p,
.weekend p {
  font-family: "Raleway-extrabold";
  font-size: 24px;
}

.good-plans p strong,
.weekend p strong {
  font-size: 14px;
}

/************************* Articles */

.gp-article-one,
.gp-article-two,
.gp-article-four,
.wk-article-one,
.wk-article-three,
.wk-article-four {
  overflow: hidden;
}

.gp-article-one {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/marseille.webp");
}

.gp-article-two {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/bordeaux.webp");
}

.gp-article-three {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/nantes_good_plans.webp");
}

.gp-article-four {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/vannes.webp");
}

.img-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: #fff;
}

.gp-hfour-p,
.wk-hfour-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin: auto;
  position: relative;
  top: -10px;
}

.wk-article-one {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/lyon.webp");
}

.wk-article-two {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/paris.webp");
}

.wk-article-three {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/grenoble.webp");
}

.wk-article-four {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("images/nantes_weekend.webp");
}

/************************* SECTION WORK */

.works {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 15px 10px;
  background-color: rgba(252, 217, 36, 0.5);
  margin-bottom: 42px;
}

.works h2 {
  margin-bottom: 15px;
}

.works-group-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works-group-article article {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  margin: 0px 10px;
  margin-bottom: 15px;
  padding: 0px 30px;
  width: 100%;
}

.ol-img {
  display: flex;
  align-items: center;
}

ol {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  left: 20px;
  margin-bottom: 20px;
}

ol::before {
  content: "";
  width: 3px;
  position: absolute;
  top: 15px;
  bottom: 10px;
  left: -4px;
  display: block;
  background: #fcd924;
}

.ol-img li {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.ol-img li::before {
  content: "";
  display: block;
  background: #fcd924;
  position: absolute;
  left: -20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.ol-img img {
  display: none;
}

/************************* SECTION REVIEW */

/************************* Articles */

.review-article-group article {
  display: flex;
  flex-direction: column;
  height: 172px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 4px lightgray;
}

.review-img-infos {
  display: flex;
}

.review-img-infos img {
  margin: 0px 10px 10px 0px;
}

.review-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
}

.review-title,
.review-grade {
  display: flex;
  flex-direction: column;
}

.review-grade {
  display: flex;
  align-items: center;
}

.review-grade p:first-child {
  font-family: "Raleway-bold";
}

.review-comment-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  font-size: 14px;
}

.review-date {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-style: italic;
  margin: 10px;
}

/************************* Div */

.back-to-top {
  display: flex;
  justify-content: flex-end;
}

/*************************************************** FOOTER */

footer {
  margin-top: 42px;
}

.paiement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  background-color: rgba(252, 217, 36, 0.5);
}

.paiement h6 {
  font-size: 12px;
}

.paiement img {
  width: 30px;
  height: 30px;
}

/************************* Articles */

.footer-article {
  margin: 20px;
}

.footer-article ul li {
  text-align: center;
  margin: 5px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.instagram {
  margin: 0px 10px;
}

.download-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.appstore {
  margin-right: 5px;
}

.google-play {
  margin-left: 5px;
}

.footer-logo {
  width: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 12px;
}

/**************************************************************************** @MEDIA-QUERIES */

@media (min-width: 650px) {
  .eye {
    display: inline;
  }

  h2 {
    display: none;
  }

  blockquote {
    font-size: 35px;
  }

  .form {
    padding: 15px 30px;
  }

  .gare {
    display: flex;
    align-items: end;
  }

  .swap-button-mobile {
    display: none;
  }

  .swap-button-desktop {
    display: block;
    position: relative;
    top: 9px;
    left: -5px;
  }

  .gare-date {
    display: flex;
    align-items: flex-end;
  }

  .gare-date,
  .submit-form {
    justify-content: space-between;
  }

  .gare,
  .date {
    display: flex;
    align-items: baseline;
  }

  .gare-date img {
    margin: 0px;
  }

  .gare div:first-child,
  .date div:first-child {
    margin: 0px 10px 0px 0px;
  }

  .bottom-champ {
    margin: 0px;
  }
  .date {
    width: 242px;
    display: flex;
    justify-content: center;
  }

  .date input {
    width: 113px;
  }

  .submit-form {
    flex-direction: row;
    align-items: baseline;
  }

  .submit-form input {
    font-size: 16px;
  }

  .submit-search {
    margin-right: 15px;
  }

  .gp-article-group,
  .wk-article-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .gp-article-group article,
  .wk-article-group article {
    margin: 10px;
  }

  .works article {
    height: 252px;
  }

  h3 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  .ol-img {
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  ol::before {
    left: -6px;
    top: 20px;
    bottom: 15px;
  }

  .ol-img li::before {
    left: -25px;
    height: 22px;
    width: 22px;
  }

  .ol-img ol {
    width: 50%;
  }

  .ol-img ol li {
    font-size: 16px;
    margin-top: 20px;
  }

  .ol-img img {
    display: block;
  }

  .review-article-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .review-article-group article {
    width: 50%;
    margin: 7px;
  }

  .paiement {
    justify-content: space-evenly;
    margin-bottom: 42px;
  }

  .paiement h6 {
    font-size: 16px;
  }

  .paiement img {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 700px) {
  .footer-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
  }

  .footer-article h5 {
    text-align: inherit;
  }

  .footer-article ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer li {
    position: relative;
  }

  footer li::before {
    content: "";
    display: block;
    background: #fcd924;
    position: absolute;
    top: 3px;
    left: -15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .footer-no-paiement,
  .follow-media {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-no-paiement {
    justify-content: space-evenly;
  }

  .enterprise-infos {
    order: 2;
  }

  .infos-problems {
    display: flex;
    flex-direction: column-reverse;
    order: 1;
  }

  .follow-media {
    justify-content: flex-end;
    flex-direction: column-reverse;
    order: 3;
  }

  .social-media {
    margin-top: 10px;
    justify-content: space-around;
  }

  .logo-copyright {
    display: flex;
    align-items: center;
    order: 4;
    width: 100vw;
    margin-bottom: 20px;
  }

  .logo-copyright img {
    width: 200px;
  }
}

@media (min-width: 800px) {

  header {
    background:rgba(0, 0, 0, 0.1);
    box-shadow: unset;
  }

  nav {
    display: flex;
  }
  
  blockquote {
    position: relative;
    top: 25px;
    color: #fff;
  }

  .sell-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #111111;
    font-family: "Raleway-bold";
    background-color: #fcd924;
    border-radius: 8px;
    width: 158px;
    height: 40px;
  }

  .welcome-research {
    position: relative;
  }

  .welcome-research::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -165px;
    left: -20px;
    width: 100vw;
    height: 447px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    center center / cover url("images/aix-en-provence.webp");
  }  
  
  .arrow-open {
    display: flex;
  }

  .form {
    position: relative;
    top: 180px;
    height: 143px;
    max-width: 780px;
    margin: 0px auto;
  }

  .gare-date {
    justify-content: center;
  }

  .gare input {
    width: 150px;
  }

  .input-arrival-gare {
    margin-right: 50px;
  }

  .date input {
    width: 130px;
  }

  .submit-form {
    justify-content: flex-end;
    align-items: center;
  }

  .submit-search {
    margin-right: 200px;
  }

  .submit-sell {
    display: none;
  }

  .good-plans {
    margin-top: 220px;
  }

  .works {
    margin: 0px -20px 42px -20px;
    border-radius: unset;
  }

  .works-group-article article {
    width: 549px;
  }

  .review-img-infos h6, .review-comment-date p {
    font-size: 16px;
  }

  .review-article-group {
    justify-content: center;
  }
  .review-article-group article {
    width: 380px;
    height: 235px;
    margin: 7px;
  }

}
